
/*  css of listing section and view property section */



.listings .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 28.5rem);
    grid-template-columns: repeat();
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.listings .box-container .box {
    background-color: var(--white);
    box-shadow: var(--box-shodow);
    padding: 1rem;
    overflow-x: hidden;
}

.listings .box-container .box .admin {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.listings .box-container .box .admin h3 {
    height: 4.5rem;
    line-height: 4.4rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--light-bg);
    text-align: center;
}

.listings .box-container .box .admin p {
    font-size: 1.7rem;
    color: var(--black);
    padding-bottom: .3rem;
}

.listings .box-container .box .admin span {
    font-size: 1.5rem;
    /* color: var(--light-color); */
}

.listings .box-container .box .thumb {
    position: relative;
    height: 25rem;
    width: 26rem;
    overflow: hidden;
    margin: 1rem 0;
}

.listings .box-container .box .thumb img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    transition: .2s linear;
}

.listings .box-container .box:hover .thumb img {
    transform: scale(1.1);
}

.listings .box-container .box .thumb .total-images {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    background-color: rgba(0, 0, 0, .3);
    color: var(--white);
    padding: .5rem 1.5rem;
    font-size: 1.6rem;
    z-index: 1;
}

.listings .box-container .box .thumb .total-images i {
    margin-right: .7rem;
}

.listings .box-container .box .thumb .type {
    position: absolute;
    bottom: 1rem;
    left: .7rem;
    z-index: 1;
}

.listings .box-container .box .thumb .type span {
    margin-right: .7rem;
    padding: .5rem 1.5rem;
    color: var(--white);
    /* background-color: var(--main-color); */
    background-color: brown;
    font-size: 1.6rem;
}

.listings .box-container .box .thumb .save {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.listings .box-container .box .thumb .save button {
    background-color: rgba(0, 0, 0, .3);
    color: var(--white);
    padding: .7rem 1rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.listings .box-container .box .thumb .save button:hover {
    background-color: var(--main-color);
}

.listings .box-container .box .name {
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: var(--black);
    margin-bottom: .5rem;
}

.listings .box-container .box .location {
    padding-top: 1rem;
    font-size: 1.6rem;
    color: var(--light-color);
}

.listings .box-container .box .location i {
    margin-right: 1rem;
    color: var(--main-color);
}

.listings .box-container .box .flex {
    display: flex;
    background-color: var(--light-bg);
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.listings .box-container .box .flex p {
    font-size: 1.6rem;
    flex: 1 1 3rem;
}

.listings .box-container .box .flex p span {
    color: var(--light-color);
}

.listings .box-container .box .flex p i {
    margin-right: 1rem;
    /* color: var(--main-color); */
}




/*   View property section css starts   */

.view-property .details{
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
   overflow-x: hidden;
}

.view-property .details .thumb{
   background-color: var(--black);
   padding: 1.5rem;
   margin-bottom: 1.5rem;
}

.view-property .details .thumb .big-image img{
   /* height: 25rem; */
   width: 100%;
   object-fit: contain;
}

.view-property .details .thumb .small-images{
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   padding-top: 1rem;
   flex-wrap: wrap;
}

.view-property .details .thumb .small-images img{
   height: 60%;
   width: 70%;
   object-fit: cover;
   cursor: pointer;
   transition: .2s linear;
}

.view-property .details .thumb .small-images img:hover{
   transform: scale(1.1);
}

.view-property .details .name{
   font-size: 2rem;
   text-overflow: ellipsis;
   overflow-x: hidden;
   margin-bottom: .5rem;
}

.view-property .details .location{
   padding-top: 1rem;
   font-size: 1.6rem;
   color: var(--light-color);
}

.view-property .details .location i{
   margin-right: 1rem;
   /* color: var(--main-color); */
}

.view-property .details .info{
   display: flex;
   background-color: var(--light-bg);
   padding: 1.5rem;
   margin: 1.5rem 0;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.view-property .details .info p{
   font-size: 1.7rem;
}

.view-property .details .info p span,
.view-property .details .info p a{
   color: var(--light-color);
}

.view-property .details .info p a:hover{
   text-decoration: underline;
}

.view-property .details .info p i{
   margin-right: 1.5rem;
   /* color: var(--main-color); */
}

.view-property .details .title{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: 1.5rem;
   border-bottom: var(--border);
}

.view-property .details .flex{
   margin: 1.5rem 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.view-property .details .flex .box{
   flex: 1 1 40rem;
}

.view-property .details .flex .box p{
   padding: .5rem 0;
   font-size: 1.6rem;
   /* color: var(--light-color); */
}

.view-property .details .flex .box i{
   /* color: var(--main-color); */
   color: blue;
   margin-right: 1.5rem;
}

.view-property .details .description{
   padding: .5rem 0;
   margin-top: .5rem;
   font-size: 1.6rem;
   /* color: var(--light-color); */
   line-height: 1.5;
}


   /* View property section css ends  */



/* Media query starts */

@media (max-width:450px) {


    .listings .box-container {
        grid-template-columns: 1fr;
    }
    
  
     
}

/* Media query ends */